/* new css */
.header {
  height: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.headerTitle {
  color: white;
  margin-left: 2rem;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(251, 170, 170, 0.216);
}

.page {
  width: 100%;
  max-width: 400px;
}

.formField {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formField label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(218, 191, 157);
}

.formField input,
.formField select {
  margin-left: 10px;
  width: 80%;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  color: black;
}

.formField input:focus,
.formField select:focus {
  outline: none;
  border-color: #007bff;
}

.errorMessage {
  max-width: 80%;
  font-size: 15px;
  color: red;
  margin-top: 5px;
  margin-left: 12px;
  padding-left: 2px;
}

.subButton {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.subButton:hover {
  background-color: #0056b3;
}

.formField select {
  appearance: none;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #555;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M0 4l6 4 6-4H0z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
  background-position: right 10px center, center;
  background-repeat: no-repeat;
  background-size: 8px 8px, 100% auto;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chartTitle {
  color: white;
  text-align: center;
  margin-top: 40px;
}
